body
    font-family: 'Open Sans', sans-serif
    font-weight: normal
    margin-top: 50px
    background: rgba(57, 73, 171)
    display: flex
    justify-content: center


//Форма
.form
    border-radius: 20px
    padding: 120px 65px 10px 65px
    background-color: white
    display: flex
    flex-shrink: 0
    flex-direction: column
    align-items: center
    width: 370px
    height: 500px

    .form__heading
        margin: 0px 0px 50px
        font-size: 24px
        font-weight: 600

    .form__input
        border: 1px solid #0000003b
        border-radius: 5px
        margin: 7px 0px
        padding-left: 40px
        width: 316px
        height: 40px
        background-size: 24px 24px
    
    .form__input_conteiner
        display: flex
        align-items: center
        position: relative

    .form__input_sign_in_email, .form__input_sign_up_email
        background: url('img/form_email.png') no-repeat center left 8px

    .form__input_sign_in_password, .form__input_sign_up_password
        background: url('img/form_pass.png') no-repeat center left 8px

    .form__button_password_viewer
        background: url('img/form_pass_eye.png') no-repeat center
        background-size: 21px 21px
        width: 28px
        height: 20px
        padding: 0
        position: absolute
        right: 8px
        border: none
        cursor: pointer
    .form__button_password_viewer:hover
        background: url('img/form_pass_eye_b.png') no-repeat center

    .form__link_forgot
        position: relative
        right: 6px
        margin-top: 6px
        font-size: 14px
        text-decoration: none
        align-self: flex-end
        color: #6F74DD
    .form__link_forgot:hover
        text-decoration: underline

    .form__button
        border: 1px solid #3949AB
        border-radius: 40px
        width: 358px
        height: 40px
        margin: 32px 0px 8px 0px
        font-family: inherit
        cursor: pointer
        color: #fff
        background: #3949AB

    .form__button_switch, .form__button_google, .form__button_github
        margin: 16px
        background-color:#fff
        color: #3949AB

    .form__button_switch:hover, .form__button_google:hover, .form__button_github:hover
        background-color:#3949AB
        color: #fff

    .form__button_google, .form__button_github
        width: 174px
        padding-left: 32px
        margin: 8px 3px 0px 3px

    .form__button_google
        background: url('img/google.png') no-repeat center left 48px

    .form__button_github
        background: url('img/github.png') no-repeat center left 48px

    .form__border
        display: flex
        justify-content: flex-end
        align-items: center
        font-size: 14px
        color: #828282
    .form__border::before
        content: ""
        position: relative
        right: 8px
        width: 93px
        height: 1px
        background-color: #E6E9FA
    .form__border::after
        content: ""
        position: relative
        left: 8px
        width: 93px
        height: 1px
        background-color: #E6E9FA

    .form__span
        margin-top: 24px 
        color: #828282
        font-size: 14px

//Класс для переключения между формами
.not_active 
    display: none
    position: absolute
    

//Модальное окно
.modal 
    display: none
    position: absolute
    z-index: 1
    padding-top: 100px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: #000000a9

.modal__content 
    position: relative
    background-color: #fefefe
    margin: auto
    padding: 0
    border: 1px solid #888
    border-radius: 10px
    width: 30%
    height: 20%
    display: grid
    justify-content: center
    align-items: center
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    animation-name: animatetop
    animation-duration: 0.4s
